@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.upload {
    margin-top: -0.25rem;
    padding: 0 1rem;
    border-top: 1px solid colors.$mercury;

    @include mixins.tablet {
        padding: 0 2.25rem;
    }

    @include mixins.desktop {
        padding: 0 8rem;
    }

    &__heading {
        @include mixins.mobile-heading;
        margin: 0;
        padding: 1.5rem 0;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            border-bottom: 1px solid colors.$mercury;
            margin-bottom: 1.5rem;
            padding-top: 2.5rem;
        }
    }

    &__container {
        @include mixins.desktop {
            display: flex;
        }
    }

    &__info {
        @include mixins.tablet {
            width: 50%;
        }

        @include mixins.desktop {
            width: 48%;
            height: 100%;
        }
    }

    &__thumbnail-label {
        @include mixins.upload-heading;
    }

    &__thumbnail {
        width: 100%;
        border-radius: 4px;
        background-color: colors.$mercury;
        margin-bottom: 1rem;

        @include mixins.desktop {
            margin-bottom: 1.2rem;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include mixins.desktop {
            margin-left: 1.5rem;
        }
    }

    &__title-label {
        @include mixins.upload-heading;
    }

    &__title {
        @include mixins.input;
        padding: 0.625rem;
        margin-bottom: 1.2rem;

        @include mixins.desktop {
            margin-bottom: 1.75rem;
        }

        &::placeholder {
            color: colors.$secondary-color-darker;
            
            @include mixins.tablet {
                font-size: 0.9rem;
            }
        }

        &--error {
            border-color: colors.$error-color;
        }
    }

    &__description-label {
        @include mixins.upload-heading;
    }

    &__description {
        @include mixins.input;
        padding: 0.625rem 0.625rem 2rem 0.625rem;

        @include mixins.tablet {
            margin-bottom: 1.5rem;
        }

        @include mixins.desktop {
            height: 100%;
        }

        &::placeholder {
            color: colors.$secondary-color-darker;
            
            @include mixins.tablet {
                font-size: 0.9rem;
            }
        }

        &--error {
            border-color: colors.$error-color;
        }
    }

    &__validation-before {
        font-size: 0.8rem;
        font-weight: 700;

        @include mixins.desktop {
            display: none;
        }

        &--error {
            color: colors.$error-color;
        }
    }

    &__validation-after {
        display: none;

        @include mixins.desktop {
            display: inline-block;
            font-size: 0.8rem;
            font-weight: 700;

            &--error {

                color: colors.$error-color;
            }
        }  
    }

    &__buttons {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row-reverse;
            align-items: center;
            border-top: 1px solid colors.$mercury;
        }
    }

    &__publish {
        @include mixins.button;
        margin: 0.5rem 0;
        background-image: url('../../assets/images/publish.svg');

        @include mixins.tablet {
            width: 10rem;
            height: 2.5rem;
            margin-left: 4rem;
        } 
    }

    &__cancel {
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        color: colors.$primary-color;;
        margin: 2rem 0;
        font-size: 0.75rem;
        font-weight: 700;
    }
}
