@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.upload {
    margin: 0 1rem;

    &__heading {
        @include mixins.mobile-heading;
        padding: 1rem 0;
        border-top: 1px solid colors.$mercury;
    }

    &__thumbnail-heading {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        color: colors.$silver;
        margin: 0 0 0.2rem 0;
    }

    &__thumbnail {
        width: 100%;
        border-radius: 4px;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }
}