@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';

.upload {
    @include mixins.button;
    background-image: url('../../assets/images/upload.svg');

    @include mixins.tablet {
        width: 10rem;
        height: 2.5rem;
        margin-left: 1.5rem;
    }

    &__avatar {
        display: none;

        @include mixins.tablet {
            display: flex;
            width: 2.75rem;
            height: 2.75rem;
            object-fit: cover;
            border-radius: 50%;
            margin-left: 1rem;
        }

        @include mixins.desktop {
            margin-left: 2.25rem;
        }
    }
}
