$secondary-color: #323232;
$silver: #AFAFAF;
$secondary-color-darker: #000000;
$mercury: #E1E1E1;
$white: #FFFFFF;
$alabaster: #FAFAFA;
$primary-color: #0095FF;
$primary-color-darker: #0065AD;
$error-color: #D22D2D;
$success-color: #228B22;
