@use './colors';
@use './screens';


@mixin mobile-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

@mixin mobile-boxing {
    margin: 1rem 1rem 0 1rem;
    padding-bottom: 1rem;
}

@mixin input {
    font-family: 'Avenir Next';
    font-weight: 500;
    border: 1px solid colors.$mercury;
    border-radius: 4px;
    background-color: colors.$alabaster;
    padding: 0.625rem 0.625rem 4rem 0.625rem;
    margin-bottom: 0.5rem;
}

@mixin button {
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background-color: colors.$brainflix-blue;
    color: colors.$white;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
    background-repeat: no-repeat;
    background-position: 5% center;
}

@mixin tablet {
    @media (min-width: screens.$tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: screens.$desktop-breakpoint) {
        @content;
    }
}
