@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.hero {
    background-color: colors.$secondary-color-darker;
    position: relative;
    height: 11.25rem;

    @include mixins.tablet {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24.25rem;
    }

    @include mixins.desktop {
        height: 29.25rem;
    }
    
    &__video {
        width: 100%;
        height: 11.25rem;
        object-fit: cover;
        
        @include mixins.tablet {
            width: 90%;
            height: 24.25rem;
        }

        @include mixins.desktop {
            width: 65%;
            height: 29.25rem;
        }
    }

    &__video-controls {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;

        @include mixins.tablet {
            width: 90%;
        }

        @include mixins.desktop {
            width: 65%;
        }
    }

    &__video-play-pause {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 2rem;
        background-color: colors.$secondary-color-darker;
        margin-right: 0.5rem;
        border-radius: 4px;
    }

    &__video-play {
        width: 1rem;
        position: absolute;
        z-index: 5;
    }

    &__video-scrubber-slide {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        width: 9rem;
        height: 2rem;
        background-color: colors.$secondary-color-darker;
        margin-right: 0.5rem;
        border-radius: 4px;
    }

    &__video-slide {
        -webkit-appearance: none;
        appearance: none;
        background: colors.$primary-color;
        width: 7rem;
        height: 0.25rem;
        border-radius: 0.1rem;
        margin: 0 1rem;
        flex-grow: 1;
        cursor: pointer;

        ::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            border: none;
            width: 100%;
            height: 0.5rem;
            background: colors.$primary-color;
            background-color: colors.$primary-color;
            color: colors.$primary-color;
            border-radius: 0.5rem;
            margin-top: -0.5rem;
            cursor: pointer;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1.25rem;
            height: 1.25rem;
            border: 0;
            margin-top: 0.25rem;
            border-radius: 50%;
            background-image: url('http://localhost:8080/images/Icon-scrubber-control.svg');
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        &:focus {
            outline: none;
        }

        &:focus::-webkit-slider-runnable-track {
            background: colors.$primary-color;
        }
    }

    &__video-fullscreen-volume{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 5rem;
        height: 2rem;
        background-color: colors.$secondary-color-darker;
        border-radius: 4px;
    }
}
