@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.hero {
    background-color: colors.$secondary-color-darker;

    @include mixins.tablet {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &__video {
        width: 100%;
        
        @include mixins.tablet {
            width: 90%;
        }

        @include mixins.desktop {
            width: 65%;
        }
    }
}
