@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.upload {
    &__validation {
        font-size: 0.9rem;
        font-weight: 700;

        &--success {
            text-decoration: none;
            color: colors.$success-color;
        }

        &--error {
            color: colors.$error-color;
        } 

    }
}
