@use '../../styles/partials/mixins';


.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include mixins.tablet {
        padding: 0 2.25rem;
        flex-direction: row;
        align-items: center;
    }

    @include mixins.desktop {
        padding: 0 8rem;
    }

    &__logo {
        height: 1.45rem;
        margin: 0 auto;

        @include mixins.tablet {
            margin: 0;
            margin-right: 6.5rem;
        }
    }

    &__nav {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}
