@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;

    &__form {
        width: 100%;
    }

    &__input{
        width: 100%;
        padding: 0.5rem;
        border: 1px solid colors.$mercury;
        border-radius: 4px;
        background-color: colors.$alabaster;
        background-image: url('../../assets/images/search.svg');
        background-repeat: no-repeat;
        background-position: 1rem center;
        background-size: 1rem;
        text-indent: 2rem;

        &::placeholder {
            color: colors.$brainflix-darkblack;
            font-family: 'Avenir Next';
            font-size: 0.8rem;
        }

        @include mixins.tablet {
            height: 2.5rem;
            margin-right: 3rem;
            background-size: 1.2rem;
        }
    }

    &__avatar {
        @include mixins.avatar;
        margin-left: 1rem;

        @include mixins.tablet {
            display: none;
        }
    }
}