@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.article {
    &__video-title {
        @include mixins.mobile-heading;
        padding: 1rem 0;
        margin: 0;
        border-bottom: 1px solid colors.$mercury;

        @include mixins.tablet {
            @include mixins.tablet-heading;
            border-bottom: none;
            padding-top: 2.25rem;
            padding-bottom: 0;
        }

        @include mixins.desktop {
            padding-right: 1.5rem;
        }
    }
}
