@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.comments {
    &__section {
        display: flex;
    }

    &__avatar {
        @include mixins.avatar;
        margin-right: 1rem;
        margin-top: 1rem;

        @include mixins.tablet {
            width: 2.75rem;
            height: 2.75rem;
            margin-right: 1.2rem;
        }

        @include mixins.desktop {
            margin-right: 2rem;
        }
    }

    &__new {
        width: 100%;
        padding-bottom: 1rem;

        @include mixins.tablet {
            padding-bottom: 2rem;
        }

        @include mixins.desktop {
            padding-right: 1.5rem;
        }
    }

    &__heading {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 700;
        color: colors.$silver;
        margin: 0 0 0.2rem 0;
    }

    &__form {
        display: flex;
        flex-direction: column;

        @include mixins.tablet {
            flex-direction: row;
        }
    }

    &__input {
        @include mixins.input;
        padding: 0.625rem 0.625rem 4rem 0.625rem;

        @include mixins.tablet {
            margin: 0;
            padding: 0.5rem 1rem;
            width: 100%;
        }

        &::placeholder {
            color: colors.$secondary-color-darker;
            font-family: 'Avenir Next';
        }

        &--error {
            border: 2px solid colors.$error-color;
        }
    }

    &__button {
        @include mixins.button;
        background-image: url('../../assets/images/add_comment.svg');

        @include mixins.tablet {
            min-width: 10rem;
            height: 2.5rem;
            margin-left: 1.5rem;
        }

        @include mixins.desktop {
            min-width: 9.5rem;
        }
    }

    &__validation {
        font-size: 0.9rem;
        font-weight: 700;
        margin-top: 0.5rem;

        &--error {
            color: colors.$error-color;
        } 

    }
}