.videos {
    &__next {
        width: 100%;
        display: flex;
        margin: 1rem 0;
    }

    &__thumbnail {
        // width: 30%;
        height: 5rem;
        border-radius: 4px;
        object-fit: contain;
        margin-right: 1rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        font-weight: 700;
    }

    &__channel {
        margin: 0;
    }
}