@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.videos {
    &__next {
        display: flex;
        margin: 1rem 0;
        text-decoration: none;
        color: colors.$brainflix-darkblack;

        @include mixins.tablet {
            width: 45%;
            margin: 1.5rem 0;
        }

        @include mixins.desktop {
            width: 100%;
        }
    }

    &__thumbnail {
        min-width: 6.5rem;
        max-height: 3.5rem;
        border-radius: 4px;
        object-fit: cover;
        margin-right: 1rem;
        background-color: colors.$mercury;

        @include mixins.tablet {
            min-width: 7rem;
            max-height: 4rem;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 0.8rem;

        @include mixins.tablet {
            font-size: 0.9rem;
        }
    }

    &__title {
        margin: 0;
        font-weight: 700;
    }

    &__channel {
        margin: 0;
    }
}
