@use '../../styles/partials/colors';
@use '../../styles/partials/mixins';


.body  {
    @include mixins.desktop {
        display: flex;
    }

    &__error {
        font-size: 2rem;
        font-weight: 700;
        padding-left: 1rem;

        @include mixins.tablet {
            padding-left: 2.25rem;
        }

        @include mixins.desktop {
            padding-left: 8rem;
        }

        &--button {
            @include mixins.button;
            font-size: 1rem;
            padding: 0.5rem;
            width: 10rem;
            margin-left: 1rem;

            @include mixins.tablet {
                margin-left: 2.25rem;
            }
    
            @include mixins.desktop {
                margin-left: 8rem;
            }
        }
    }

    &__main-video {
        @include mixins.desktop {
            display: flex;
            flex-direction: column;
            width: 85%;
            border-right: 1px solid colors.$mercury;
            padding-bottom: 3rem;
        }
    }

    &__next-videos {
        @include mixins.desktop {
            display: flex;
        }
    }
}
